body{
    background-color: #CFB997;
    font-family:nos;
}
center{
    margin: 0;
}
a:link, a:visited {
    background-color: #9BA17B ;
    border: none;
    color: #FFFFFF;
    padding: 25px 52px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
    h1{
    padding: 1rem 5%;
    text-align: center;
    color: black;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-family: nos;
}
h2{
text-align: center;
color: black;
font-size: 2.5rem;
padding: 0;
font-weight: 300;
margin-bottom: 2rem;
display: inline-block;
}
.box-container{
    display:flex;
    gap:1.5rem;
}
.box{
    width: 33%;
    text-align: center;
    padding-bottom: 1%;
}
.image{
    height: 25rem;
    width: 100%;
    overflow:hidden;
    position: relative;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image:hover img{
    transform: scale(1,1);


}
.content h3{
color:var(wheat);
font-size: 2.2rem ;
font-weight: 400;
}
.content p{
    color: aliceblue;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .5rem 0;
    line-height: 1.5;
}
