*{
    font-family: "CustomFont1";
}
@font-face {
    font-family: "CustomFont";
    src: url(vBenguiatkaz.ttf);
}
@font-face {
    font-family: "CustomFont1";
    src: url(vAsylm07.ttf);
}
body{
    font-family: Gill Sans, "Gill Sans";
    background-color: #F0EBCE;
}
#pad {
    background-color: #F0EBCE;
    width: 100%;
    margin: 0px;
    margin: 0;
    padding-top: 70px;
    overflow-x:hidden;
}
.col-md-10 {
    background-color: #CFB784;
}
.col-sm-12 {
    background-color: #CFB784;
}
img {
    width: 120px;
    height: 100px;
}
h1 {
    font-family: "CustomFont";
    color: #224B0C;
    text-align: center;
    padding: 20px;
    font-size: 70px;
}
.col-md-4 {
    text-align: right;
}
label {
    font-size: 30px;
}
input {
    width: 370px;
    margin-top: 10px;
    height: 35px;
}
.row {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 150px;
    height: 40px;
    background-color: #224B0C;
    color: #F0EBCE;
    font-size: 18px;
    margin-top: 20px;
}
