@font-face{
    src: url(/fonts/Skiff-Regular.otf);
    font-family:nos;
    font-weight: bold;
}
body{
    background: rgba(0, 0, 0, 0.9) url(/images/backgroud.jpg);
    height: 100%;
    background-position: center;
    background-blend-mode: darken;
    font-family: nos;
    font-size: 18px;
    margin: 0%;
}
hr {
    border: none;
    height: 3px;
    background-color:#F9F5EB;
}
.d1{
    float: right;
    padding-left: 30px;
}
.d2{
    float: left;
}

.text1{
    clear: right;
    margin: auto;
    
}
.text2{
    clear: left;
    margin: auto;
}
.main{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
#closing{
    margin: 30px;
}
.list-item{
    display: inline;
    padding: 0;
    margin: auto;
}
.list-item li {
    display: inline;
    
}
.list-item li a {
    color: #F9F5EB;
    margin: 5px;
    text-align: center;
}




/* Navigation Bar */
#logo{
    float: left;
    height: 100px;
    width: 100px;
    position: static;
    padding: 0;
    margin-top: 25px 15px;
}
nav{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.navbar-toggler{
    margin: 15px 20px;
    position: static;
}
#navbarNavAltMarkup{
    float: right;
}

.nav-link{
    display: inline;
    text-align: center;
    width: 150px;
}

/* Body */
#heading{
    margin-top:80px;
    text-align: center;
    font-size: 70px;
    padding: 0;
}
.row{
    margin-top: 150px;
}
h1{
    text-align: center;
    color:#F9F5EB;
}
img{
    height: 600px;
    width: 600px;
}
p{
    display: block;
    padding: 20px;
    color: #F9F5EB;
}




