body{
    background: rgba(0, 0, 0, 0.7) url(background.webp);
    background-blend-mode: darken;
    background-size:contain;
    font-family: Gill Sans, "Gill Sans";
    font-size: 18px;
    margin: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#entering{
    animation: fadeIn 1s ease-in-out;
}



/* Slide  Bar */
#main{
    margin: 40px 50px 0px 50px ;

}
.sidebar {
    height: 100%;
    width: 0; 
    position: fixed; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
    display: block;
    transition: 0.3s;
 }

.sidebar a:hover {
    color: white;
}
  
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color: gray;
}
  
#logo{
    float: right;
    height: 100px;
    width: 100px;
    position: static;
    /*👉margin: 20px 15px 0 0px ;👈*/
}


/* Body */
#heading{
    text-align: center;
    font-size: 70px;
    padding: 0;
    margin-top: 40px;
}
.row{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    color:#F9F5EB;
    font-size: 50px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p{
    display: block;
    padding: 20px;
    color: #F9F5EB;
    font-size: 19px;
}
.popover{
    background-color: rgb(106, 106, 106);
    color: black;
}

/* Footer */
hr {
    border: none;
    height: 3px;
    background-color:#F9F5EB;
}
#closing{
    margin: 30px;
}


